</div>
            
<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-1.png"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-2.png"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-3.png"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-4.png"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-5.png"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/banner-6.png"></a>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!--	End Body	-->

<div id="footer-top">
<div class="container">
<div class="row">
<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
    <h2><a href="#"><img src="images/logo-footer.png"></a></h2>
    <p>
        Vietpro Academy thành lập năm 2009. Chúng tôi đào tạo chuyên sâu trong 2 lĩnh vực là Lập trình Website & Mobile nhằm cung cấp cho thị trường CNTT Việt Nam những lập trình viên thực sự chất lượng, có khả năng làm việc độc lập, cũng như Team Work ở mọi môi trường đòi hỏi sự chuyên nghiệp cao. 
    </p>
</div>
<div id="address" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Địa chỉ</h3>
    <p>B8A Võ Văn Dũng - Hoàng Cầu Đống Đa - Hà Nội</p>
    <p>Số 25 Ngõ 178/71 - Tây Sơn Đống Đa - Hà Nội</p>
</div>
<div id="service" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Dịch vụ</h3>
    <p>Bảo hành rơi vỡ, ngấm nước Care Diamond</p>
    <p>Bảo hành Care X60 rơi vỡ ngấm nước vẫn Đổi mới</p>
</div>
<div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Hotline</h3>
    <p>Phone Sale: (+84) 0988 550 553</p>
    <p>Email: vietpro.edu.vn@gmail.com</p>
</div>
</div>
</div>
</div>

<!--	Footer	-->
<div id="footer-bottom">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <p>
        2018 © Vietpro Academy. All rights reserved. Developed by Vietpro Software.
    </p>
</div>
</div>
</div>
</div>
<!--	End Footer	-->













</body>
</html>
