
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Home</title>
<link rel="stylesheet" href="/static/theme/site/css/bootstrap.css">
<link rel="stylesheet" href="/static/theme/site/css/home.css">
<script src="/static/theme/site/js/jquery-3.3.1.js"></script>
<script src="/static/theme/site/static/js/bootstrap.js"></script>
</head>
<body>

<!--	Header	-->
<div id="header">
	<div class="container">
    	<div class="row">
        <%include logo/logo_header%>
        <%include search/search_box%>
        <%include cart/cart_item%>
        </div>
    </div>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#menu">
    	<span class="navbar-toggler-icon"></span>
    </button>
</div>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            <%include category/menu%>
            </div>
        </div>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
              <%include slide/slide%>
<!-- category_list -->
<div class="products">
    <h3>iPhone (hiện có 186 sản phẩm)</h3>
    <div class="product-list card-deck">
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-1.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-2.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-3.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
    </div>
    <div class="product-list card-deck">
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-4.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-5.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-6.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
    </div>
    <div class="product-list card-deck">
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-7.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-8.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a href="#"><img src="images/product-9.png"></a>
            <h4><a href="#">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
    </div>
</div>
</div>
            
<%include banners/banner%>
</div>
</div>
</div>
<!--	End Body	-->

<div id="footer-top">
<div class="container">
<div class="row">
<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
<%include logo/logo_footer%>
    <p>
        Vietpro Academy thành lập năm 2009. Chúng tôi đào tạo chuyên sâu trong 2 lĩnh vực là Lập trình Website & Mobile nhằm cung cấp cho thị trường CNTT Việt Nam những lập trình viên thực sự chất lượng, có khả năng làm việc độc lập, cũng như Team Work ở mọi môi trường đòi hỏi sự chuyên nghiệp cao. 
    </p>
</div>
<div id="address" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Địa chỉ</h3>
  <%include address/address%>
</div>
<div id="service" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Dịch vụ</h3>
  <%include services/service%>
</div>
<div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
    <h3>Hotline</h3>
    <%include hotline/hotline%>
</div>
</div>
</div>
</div>

<!--	Footer	-->
<div id="footer-bottom">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <p>
        2018 © Vietpro Academy. All rights reserved. Developed by Vietpro Software.
    </p>
</div>
</div>
</div>
</div>
<!--	End Footer	-->













</body>
</html>
