<nav>
    <div id="menu" class="collapse navbar-collapse">
        <ul>
            <%for(key in data.cart){%>
            <li class="menu-item"><a href="/category/<%=data.cart[key].cat_id%>"><%=data.cart[key].cat_name%></a></li>
            <%}%>
        </ul>
    </div>
</nav>