

<div class="products">

        <h3>Sản phẩm mới</h3>
        <div class="product-list card-deck">
            <%for(key in data.feature){%>
            <div class="product-item card text-center">
                <a href="#"><img src="/static/images/products/<%=data.feature[key].prd_image%>"></a>
                <h4><a href="#"><%=data.feature[key].prd_name%></a></h4>
                <p>Giá Bán: <span><%=data.feature[key].prd_price%></span></p>
            </div>
            <%}%>
        </div>
       
    </div>
    
    