<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hung Mobile Shop - Administrator</title>

<link href="/static/theme/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/theme/admin/css/datepicker3.css" rel="stylesheet">
<link href="/static/theme/admin/css/bootstrap-table.css" rel="stylesheet">
<link href="/static/theme/admin/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/static/theme/admin/js/html5shiv.js"></script>
<script src="/static/theme/admin/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Hung Mobile Shop - Administrator</div>
				<div class="panel-body">
					<%if(data && data.error){%>
					<div class="alert alert-danger"><%=data.error%></div>
					<%}%>
					<form role="form" method="post">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="user_mail" type="email" autofocus>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Mật khẩu" name="user_pass" type="password" value="">
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Nhớ tài khoản
								</label>
							</div>
							<button type="submit" class="btn btn-primary">Đăng nhập</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
</body>

</html>
